:root {
  --primary: #ffc400;
  --dark: #0f0f0f;
  --card: #1b1b1b;
}

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--dark);
  color: white;
}

header {
  background: black;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
}

input {
  background:
